<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taxi.dao.blacklist.BlackDao">
    <resultMap id="blackListResultMap" type="Black">
        <result column="MBR_NO" 				property="mbrNo" 			/>
        <result column="MBR_NAME" 				property="mbrName" 			/>
        <result column="MBR_PHONE_NO" 			property="mbrPhoneNo" 		/>
        <result column="MBR_PHOTO_URL" 			property="mbrPhotoUrl" 		/>
        <result column="BLACK_NO" 				property="blackNo" 			/>
        <result column="BLACK_MBR_REG_DATE" 	property="blackMbrRegDate" 	/>
    </resultMap>
    
	<!--
		 * 설  명: 블랙리스트 조회
		 * 작상자: 김상헌
	-->
	<select id="getBlackList" parameterType="int" resultMap="blackListResultMap">
	    select 
	    		A.MBR_NO 				
	    	,	B.MBR_NAME 				
	    	,	B.MBR_PHONE_NO 			
	    	,	B.MBR_PHOTO_URL 		
	    	,	A.BLACK_NO 				
	    	,	A.BLACK_MBR_REG_DATE 	
	    from
	    		BLACK A
            ,   MBR B
	    where
	    		1 = 1
        and     A.MBR_NO = B.MBR_NO
  		and 	A.MBR_NO = #{mbrNo} 
	</select>
	    
    
    
	<delete id="deleteBlackList" parameterType="int">
	    delete from BLACK  
        where MBR_NO=#{value}
	</delete>
	
	
 
</mapper> 













