<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.location.RcntLocDao">

	<select id="getRecentDestination"
			parameterType="Map" 
            resultType="RcntLoc"> 
		select 
				RCNT_LOC_NO
			,	MBR_NO
			,	RCNT_LOC_NAME
			, 	RCNT_LOC_LAT
			, 	RCNT_LOC_LNG
			, 	RCNT_LOC_REG_DATE
			, 	RCNT_LOC_ST
		from 	
				RCNT_LOC
		where 	
				1 = 1
			and MBR_NO = #{mbrNo}
		order by 
				RCNT_LOC_REG_DATE desc
    </select>
    
	<delete id="deleteRcntLocList" parameterType="int"> 
        delete from RCNT_LOC  
        where MBR_NO=#{value}  
    </delete> 
<!-- //====================== AS-IS =======================// -->
<!--
	
	<select id="getFvrtLocRank"
	    	parameterType="string"
	    	resultType="int">
	    select count(FVRT_LOC_NO) + 1 
	    from FVRT_LOC
	    where MBR_ID = #{value};
	</select>
    
      
     <insert id="addFvrtLoc" 
            parameterType="FvrtLoc"> 
        insert into  
                    FVRT_LOC(  
                               MBR_ID  
                             , FVRT_LOC_NAME  
                             , FVRT_LOC_LAT  
                             , FVRT_LOC_LNG 
                             , FVRT_LOC_REG_DATE  
                             , FVRT_LOC_RANK  
                             , FVRT_LOC_STATUS   
                            ) 
        values       
                    ( #{mbrId}, #{fvrtLocName}, #{fvrtLocLat},  
                      #{fvrtLocLng}, now(), #{fvrtLocRank},  
                      #{fvrtLocStatus} )  
    </insert> 
    
	<update id="updateFvrtLocRank" parameterType="FvrtLoc">
        update FVRT_LOC
		set FVRT_LOC_RANK = #{fvrtLocRank}
 		where FVRT_LOC_NO = #{fvrtLocNo}
        order by FVRT_LOC_RANK;
    </update>
	
    
	<delete id="deleteAllFvrtLoc" parameterType="String"> 
	    delete from FVRT_LOC  
	    where MBR_ID=#{value}  
	</delete>
	

	<delete id="deleteFvrtLocItem" parameterType="String"> 
	    delete from FVRT_LOC  
	    where FVRT_LOC_NO = #{value} 
	</delete> 
 -->	
	
</mapper>


