<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.location.RcntLocDao">

    <!-- 
    	* 설  명: 최근 목적지 가져오기
    	* 작성자: 김상헌
    -->
	<select id="getRecentDestination" parameterType="Map" resultType="RcntLoc"> 
		select 
				RCNT_LOC_NO 		as rcntLocNo
			,	MBR_NO 				as mbrNo			
			,	RCNT_LOC_NAME 		as rcntLocName
			, 	RCNT_LOC_LAT 		as rcntLocLat
			, 	RCNT_LOC_LNG 		as rcntLocLng
			, 	RCNT_LOC_REG_DATE 	as rcntLocRegDate 
			, 	RCNT_LOC_ST 		as rcntLocSt
		from 	
				RCNT_LOC
		where 	
				1 = 1
			and MBR_NO = #{mbrNo}
		order by 
				RCNT_LOC_REG_DATE desc
    </select>
    
	
	<delete id="deleteRcntLocList" parameterType="int"> 
        delete from RCNT_LOC  
        where MBR_NO=#{value}  
    </delete> 
		
		
	<!-- 
		 * 설  명: 최근목적지 추가
		 * 작성자: 김상헌
	-->
	<insert id="addRcntLoc" parameterType="RcntLoc"> 
        insert into RCNT_LOC
        	( MBR_NO, RCNT_LOC_NAME, RCNT_LOC_LAT, RCNT_LOC_LNG, RCNT_LOC_REG_DATE, RCNT_LOC_ST ) 
        values       
			( #{mbrNo}, #{rcntLocName}, #{rcntLocLat}, #{rcntLocLng}, now(), #{rcntLocSt} )  
    </insert> 
    
	
	<!-- 
		* 설  명 : 최근 목적지 중복 검사
		* 작성자 : 장종혁
	 -->
	 <select id="cntRcntLoc" parameterType="RcntLoc" resultType="int">
	     select count(*) from RCNT_LOC 
	     where MBR_NO=#{mbrNo} and RCNT_LOC_NAME=#{rcntLocName} and RCNT_LOC_LAT=#{rcntLocLat} and 
	     RCNT_LOC_LNG = #{rcntLocLng} and RCNT_LOC_ST= #{rcntLocSt}
	 </select>
	
	<!-- 
		* 설  명 : 최근 목적지 중복 데이터 업데이트
		* 작성자 : 장종혁
	 -->
	<update id="updateRcntLoc" parameterType="RcntLoc">
	    update RCNT_LOC 
	    set RCNT_LOC_REG_DATE = now() 
	    where MBR_NO=#{mbrNo} and RCNT_LOC_NAME=#{rcntLocName} and RCNT_LOC_LAT=#{rcntLocLat} and 
	     RCNT_LOC_LNG = #{rcntLocLng} and RCNT_LOC_ST= #{rcntLocSt}
	</update>
	 
<!-- //====================== AS-IS =======================// -->
<!--
	
	<select id="getFvrtLocRank"
	    	parameterType="string"
	    	resultType="int">
	    select count(FVRT_LOC_NO) + 1 
	    from FVRT_LOC
	    where MBR_ID = #{value};
	</select>
    
      
	<update id="updateFvrtLocRank" parameterType="FvrtLoc">
        update FVRT_LOC
		set FVRT_LOC_RANK = #{fvrtLocRank}
 		where FVRT_LOC_NO = #{fvrtLocNo}
        order by FVRT_LOC_RANK;
    </update>
	
    
	<delete id="deleteAllFvrtLoc" parameterType="String"> 
	    delete from FVRT_LOC  
	    where MBR_ID=#{value}  
	</delete>
	

	<delete id="deleteFvrtLocItem" parameterType="String"> 
	    delete from FVRT_LOC  
	    where FVRT_LOC_NO = #{value} 
	</delete> 
 -->	
	
</mapper>


