<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.room.RoomMbrDao">

    <!-- 
		 * 설  명: 방 회원 리스트 조회
		 * 작성자: 김상헌 
	 -->
	<select id="getRoomMbrDetailList" parameterType="int" resultType="RoomMbr">
	    select
	              c.ROOM_NO 			as roomNo  
	            , c.MBR_NO				as mbrNo 
	            , c.MBR_NAME 			as mbrName
                , c.MBR_PHONE_NO		as mbrPhoneNo
                , c.MBR_PHOTO_URL 		as mbrPhotoUrl
                , c.GCM_REG_ID			as gcmRegId 
	            , c.ROOM_MBR_NO 		as roomMbrNo 
	            , c.ROOM_MBR_NAME 		as roomMbrName
	            , c.ROOM_MBR_ST         as roomMbrSt
	            , c.REL_FRND_PHONE_NO 	as relFrndPhoneNo
	            , c.MUTUAL_YN 			as mutualYn
			  	, c.ROOM_MBR_RANK 		as roomMbrRank 
	     from (
		        select
					     a.ROOM_NO
					,    a.MBR_NO
					,    a.MBR_NAME
					,    a.MBR_PHONE_NO
	                ,    a.MBR_PHOTO_URL
	                ,    a.GCM_REG_ID
					,    b.ROOM_MBR_NO
					,    b.ROOM_MBR_NAME
					,    a.ROOM_MBR_ST
					,    a.REL_FRND_PHONE_NO
					, 	 a.MUTUAL_YN
					,    a.ROOM_MBR_RANK
		              from  (
		              		 -- 참여회원 정보
		                     select
		                            a.ROOM_NO,
		                            a.MBR_NO,
		                            b.MBR_NAME,
		                            b.MBR_PHONE_NO,
	                                b.MBR_PHOTO_URL,
	                                a.GCM_REG_ID,
		                            a.ROOM_MBR_NO,
		                            a.ROOM_MBR_ST,
		                            a.REL_FRND_PHONE_NO,
		                            a.MUTUAL_YN,
		                            a.ROOM_MBR_RANK
		                       from
		                            ROOM_MBR a
		                          , MBR b
		                      where 1 = 1
								and a.MBR_NO = b.MBR_NO
								and a.ROOM_NO = #{value}
		                   ) a
						left outer join
		                   (
		                   	 -- 알고 들어가게된 사람정보
		                     select
									a.room_no,
		                        	a.ROOM_MBR_NO,
		                        	b.MBR_NAME AS  ROOM_MBR_NAME,
	                                a.GCM_REG_ID
		                       from
		                            ROOM_MBR a
		                          , MBR b
		                      where 1 = 1
		                      	and a.ROOM_MBR_NO = b.MBR_NO
								and a.ROOM_NO = #{value}
		                    group by 
		                    		a.room_MBR_NO
		                   ) b
		               on a.ROOM_MBR_NO = b.ROOM_MBR_NO
				) c
			left outer join
                (
                	 -- 연결 친구 정보
	                 select
	                        a.ROOM_NO,
	                        a.MBR_NO,
	                        b.FRND_NAME,
	                        b.FRND_PHONE_NO
	                   from
	                        ROOM_MBR a
	                      , FRND b
	                  where 1 = 1
	                  	and a.MBR_NO = B.MBR_NO
						and a.REL_FRND_PHONE_NO = b.FRND_PHONE_NO
						and a.ROOM_NO = #{value}
					group by  
							a.MBR_NO
				) d
			 on c.ROOM_NO = d.ROOM_NO
			and c.MBR_NO = d.MBR_NO
		  where 1 = 1
			and c.ROOM_NO =  #{value}
	    order by 
	    	c.ROOM_MBR_RANK
	</select>
	
	
	<!-- 
		 * 설  명: 방 멤버 가져오기
		 * 김상헌: 김상헌 
	-->
	<select id="getRoomMbrInfo" parameterType="RoomMbr" resultType="RoomMbr">
		select	
              	a.ROOM_NO 				as roomNo  
            , 	a.MBR_NO				as mbrNo 
            , 	b.MBR_NAME 				as mbrName
			, 	b.MBR_PHONE_NO			as mbrPhoneNo
			, 	b.MBR_PHOTO_URL 		as mbrPhotoUrl
			, 	a.GCM_REG_ID			as gcmRegId 
            , 	a.ROOM_MBR_NO 			as roomMbrNo 
            , 	c.MBR_NAME 				as roomMbrName
            , 	a.ROOM_MBR_ST         	as roomMbrSt
            , 	a.REL_FRND_PHONE_NO 	as relFrndPhoneNo
            , 	a.MUTUAL_YN 			as mutualYn
		  	, 	a.ROOM_MBR_RANK 		as roomMbrRank 		
		from
				ROOM_MBR a
            left outer join
			    MBR b
            on  a.MBR_NO = b.MBR_NO
            left outer join
			 	MBR c
            on  a.ROOM_MBR_NO = c.MBR_NO
            
		where	1 = 1
		and		a.ROOM_NO = #{roomNo}
		and		a.MBR_NO = #{mbrNo}
	</select> 
	
	
	<!-- 
		 * 설  명: 방 멤버 추가
		 * 작성자: 김상헌 	
	-->
	<insert id="addRoomMbr" parameterType="RoomMbr">
        insert into ROOM_MBR
        	( ROOM_NO, MBR_NO, GCM_REG_ID
        	, ROOM_MBR_NO, ROOM_MBR_ST
        	, REL_FRND_PHONE_NO
        	, MUTUAL_YN, ROOM_MBR_RANK)
        values
        	( #{roomNo}, #{mbrNo}, #{gcmRegId}
        	, #{roomMbrNo}, #{roomMbrSt}
        	, #{relFrndPhoneNo}
        	, #{mutualYn}, #{roomMbrRank} )
    </insert>
    
	
	<!-- 
		 * 설  명: 방 멤버 삭제
		 * 작성자: 김상헌 	
	-->
	<delete id="deleteRoomMbr" parameterType="map">
		delete from 
				ROOM_MBR
		where	1 = 1
		<if test="mbrNo != null">
			and	MBR_NO = #{mbrNo}
		</if>
		<if test="roomNo != null and roomNo != 0">
			and ROOM_NO = #{roomNo}
		</if>
		<if test="room != null">
			and ROOM_NO in
			<foreach collection="room" item="item" separator="," open=" (" close=")">
							#{item.roomNo}
			</foreach>
		</if>
	</delete>
    
	
	<!-- 
		* 설  명: 방내 회원수 조회
		* 작성자: 장종혁
	 -->
	<select id="roomMemberCount" parameterType="int" resultType="int">
	    SELECT
	    	 count(*)
	    FROM 
	    	ROOM_MBR
	    WHERE
	    	 ROOM_NO=#{value}
	</select>
	
	
	<!-- 
		 * 설  명: 해당회원이 방에 참여한것을 가정한 정보 
		 * 작성자: 김상헌 
	-->	
	<select id="getVirtualRoomMbr" parameterType="roomMbr" resultType="roomMbr">
	    -- 내 친구 관계
		select  #{roomNo}   		as roomNo
		    ,   #{mbrNo}  			as mbrNo
			,   A.MBR_NAME  		as mbrName
            ,   A.MBR_PHONE_NO 		as mbrPhotoNo
            ,   A.MBR_PHOTO_URL 	as mbrPhotoUrl
			,	#{gcmRegId} 		as gcmRegId
		    ,   X1.MBR_NO   		as roomMbrNo
			,   '1' 		        as roomMbrSt
            ,   null 				as relFrndPhoneNo
            ,   'Y'  				as mutualYn
		    ,	(select max(ROOM_MBR_RANK) + 1 from ROOM_MBR where ROOM_NO = #{roomNo}) as roomMbrRank
		from
				MBR A
			, 	ROOM_MBR X1
			, 	MBR X2
		where   1 = 1
		and 	A.MBR_NO 		= #{mbrNo}
		and 	X1.MBR_NO 		= X2.MBR_NO
		and 	X1.ROOM_NO 		= #{roomNo}
		and 	X2.MBR_PHONE_NO in (
			                            select  Y.FRND_PHONE_NO
			                            from    FRND Y
			                            where   1 = 1
			                                and Y.MBR_NO = #{mbrNo}
			                        )

		union all

		-- 내 친구의 친구 관계
		select  #{roomNo}   		as roomNo
		    ,   #{mbrNo}  			as mbrNo
			,   A.MBR_NAME  		as mbrName
            ,   A.MBR_PHONE_NO 		as mbrPhotoNo
            ,   A.MBR_PHOTO_URL 	as mbrPhotoUrl
		    ,	#{gcmRegId} 		as gcmRegId
		    ,   X1.MBR_NO   		as roomMbrNo
		    ,   '1' 		        as roomMbrSt
            ,   X3.FRND_PHONE_NO 	as relFrndPhoneNo
            ,   'Y'  				as mutualYn
		    ,	(select max(ROOM_MBR_RANK) + 1 from ROOM_MBR where ROOM_NO = #{roomNo}) as roomMbrRank

		from
				MBR A
			, 	ROOM_MBR X1
			, 	MBR X2
		    ,   FRND X3
		where   1 = 1
		and 	A.MBR_NO 		= #{mbrNo}
		and     X1.MBR_NO 		= X2.MBR_NO
		and     X1.MBR_NO 		= X3.MBR_NO
		and 	X1.ROOM_NO 		= #{roomNo}
		and 	X3.FRND_PHONE_NO in (
			                            select  Y.FRND_PHONE_NO
			                            from    FRND Y
			                            where   1 = 1
			                                and Y.MBR_NO = #{mbrNo}
			                        )

		union all

		-- 나와 관계없는 경우
		select  #{roomNo}   		as roomNo
		    ,   #{mbrNo}  			as mbrNo
			,   A.MBR_NAME  		as mbrName
            ,   A.MBR_PHONE_NO 		as mbrPhotoNo
            ,   A.MBR_PHOTO_URL 	as mbrPhotoUrl
		    ,	#{gcmRegId} 		as gcmRegId
		    ,   null 				as roomMbrNo
		    ,   '0' 		        as roomMbrSt
            ,   null 				as relFrndPhoneNo
            ,   null  				as mutualYn
		    ,	(select max(ROOM_MBR_RANK) + 1 from ROOM_MBR where ROOM_NO = #{roomNo}) as roomMbrRank

		from
				MBR A
		where   1 = 1
		and 	A.MBR_NO = 1	
				                        
		limit 1
	</select>
    
	
	<!-- 		   
		 * 설  명: 푸쉬 대상자 가져오기
 		 * 작성자: 김상헌    
	-->
	<resultMap type="Map" id="getGcmTargetMapListResultMap">
        <result property="roomNo" 				column="roomNo"			javaType="int"/>
        <result property="mbrNo" 				column="mbrNo"			javaType="int"/>
        <result property="mbrName" 				column="mbrName"		javaType="String"/>
        <result property="mbrPhoneNo" 			column="mbrPhoneNo"		javaType="String"/>
        <result property="mbrPhotoUrl" 	 		column="mbrPhotoUrl"	javaType="String"/>
        <result property="gcmRegId" 			column="gcmRegId"		javaType="String"/>
        <result property="roomMbrNo" 			column="roomMbrNo"		javaType="int"/>
        <result property="roomMbrName" 			column="roomMbrName"	javaType="String"/>
        <result property="relFrndPhoneNo" 		column="relFrndPhoneNo"	javaType="String"/>
        <result property="mutualYn" 			column="mutualYn"		javaType="String"/>
        <result property="roomMbrRank" 			column="roomMbrRank"	javaType="int"/>
    </resultMap>
	<select id="getGcmTargetMapList" parameterType="map" resultMap="getGcmTargetMapListResultMap">
		SELECT	a.ROOM_NO				as roomNo
            , 	a.MBR_NO				as mbrNo
            , 	b.MBR_NAME 				as mbrName
            , 	b.MBR_PHONE_NO 			as mbrPhoneNo
            , 	b.MBR_PHOTO_URL 		as mbrPhotoUrl
            ,	a.GCM_REG_ID 			as gcmRegId
            , 	a.ROOM_MBR_NO 			as roomMbrNo
            , 	c.MBR_NAME 				as roomMbrName
            , 	a.REL_FRND_PHONE_NO 	as relFrndPhoneNo
            , 	a.MUTUAL_YN 			as mutualYn
            ,	a.ROOM_MBR_RANK 		as roomMbrRank
		FROM
				ROOM_MBR a
            join                
				MBR b
            on a.MBR_NO = b.MBR_NO
            left outer join
             	MBR c
            on a.ROOM_MBR_NO = c.MBR_NO
		WHERE	
				1 = 1
		AND		a.ROOM_NO = #{roomNo}
		AND 	a.MBR_NO NOT LIKE #{mbrNo}
	</select>
	
	
	<!-- 
		 * 설  명: 푸쉬 출발 대상자 가져오기
		 * 작성자: 김상헌 	
	-->
	<select id="getAlramGcmTargetRoomMbrList" parameterType="int" resultType="RoomMbr">
		SELECT	a.ROOM_NO 		as roomNo
            ,	a.GCM_REG_ID	as gcmRegId
		FROM
				ROOM_MBR a
		WHERE	1 = 1
		<choose>
		    <when test="value != null and value != 0">
			AND	a.ROOM_NO = #{value}
			</when>
		</choose>
	</select>
	
	
	<!--
		 * 설  명: 해당 방멤버의 mbrNo를 변경 
		 * 작성자: 김상헌
	-->
	<update id="changeMbrNoInRoomMbr" parameterType="map">
	    update 	
	    		ROOM_MBR
	    set 
	    		MBR_NO = #{changeMbrNo}
		where
				1 = 1
		and 	ROOM_NO = #{roomNo}  
		and 	MBR_NO 	= #{originMbrNo}
	</update>
		
</mapper>
