<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.friend.FrndDao">
    
    <insert id="addFrndList"  parameterType="java.util.List">
        INSERT INTO FRND(MBR_NO, FRND_PHONE_NO,FRND_NAME, FRND_REG_DATE) VALUES
         <foreach collection="list"   item="frnd" separator=",">
			( #{frnd.mbrNo},#{frnd.frndPhoneNo},#{frnd.frndName},now() )
        </foreach>
        ON DUPLICATE KEY UPDATE MBR_NO=VALUES(MBR_NO)M FRND_PHONE_NO=VALUES(FRND_PHONE_NO)
    </insert>
    
 	<delete id="deleteFrnd" parameterType="int"> 
        delete from FRND  
        where MBR_NO=#{value}  
    </delete> 
    
 	
 	<select id="serchFrnd"  parameterType="String" resultType="Frnd">
 	    select a.MBR_NO					 as		mbrNo,
 	    			a.FRND_PHONE_NO as		frndPhoneNo,
 	    			a.FRND_NAME			  as		frndName,
 	    			b.MBR_NAME			  as      mbrName 
 	    from    FRND a, MBR b
 	    where a.MBR_NO=b.MBR_NO and a.FRND_PHONE_NO=#{value} limits 1
 	</select>
    
 	<select id="getFrnd" parameterType="int" resultType="Frnd">
 	    select a.MBR_NO 				 as	 mbrNo,
 	                a.FRND_PHONE_NO as    frndPhoneNo, 
 	                a.FRND_NAME			  as    frndName,
 	                b.FRND_REG_DATE	   as    frndRegDate
 	    from FRND
 	    where MBR_NO=#{value}
 	</select>
 	
</mapper>
