<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.friend.FrndDao">
    
    <insert id="addFrndList"  parameterType="java.util.List">
        insert into FRND(MBR_NO, FRND_PHONE_NO,FRND_NAME, FRND_REG_DATE) values
        <foreach collection="list"   item="frnd" separator=",">
			( #{frnd.mbrNo},#{frnd.frndPhoneNo},#{frnd.frndName},now() )
        </foreach>
    </insert>
    
 	<delete id="deleteFrnd" parameterType="int"> 
        delete from FRND  
        where MBR_NO=#{value}  
    </delete> 
    
 	
 	<select id="serchFrnd"  parameterType="String" resultType="Frnd">
 	    select a.MBR_NO, a.FRND_PHONE_NO, a.FRND_NAME, b.MBR_NAME 
 	    from    FRND a, MBR b
 	    where a.MBR_NO=b.MBR_NO and a.FRND_PHONE_NO=#{value}
 	</select>
    
</mapper>
