<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.member.MbrDao">

    <!-- 
		 * 설  명: myInfo 조회하기
		 * 작성자: 이용준     
    -->
    <select id="getMyInfo" parameterType="int" resultType="MyInfo">
	    select 	
                a.MBR_NO						as mbrNo
	    	,	a.MBR_PHONE_NO 					as mbrPhoneNo
	    	,	a.MBR_DEVICE_NO 				as mbrDeviceNo
	    	, 	a.MBR_NAME 						as mbrName
	    	, 	a.MBR_PHOTO_URL 				as mbrPhotoUrl
	    	, 	a.MBR_GENDER 					as mbrGender
	    	, 	a.MBR_REG_DATE 	 				as mbrRegDate
	    	, 	a.LAST_LOGIN_DATE 				as lastLoginDate
	    	, 	a.MBR_UPDATE_DATE 				as mbrUpdateDate
	    	,	b.START_RANGE 					as startRange 
            ,	b.END_RANGE 					as endRange
            ,	b.PUSH_YN 						as pushYn
            ,	b.ROOM_MBR_NUM_LIMIT 			as roomMbrNumLimit
            ,	b.SAFE_GUARD_PHONE_NO 			as safeGuardPhoneNo
            ,	b.SAFE_GUARD_NAME 				as safeGuardName
            ,	b.SAFE_TIME_INTERVAL 			as safeTimeInterval
            ,	c.KEYWORD_NO					as keywordNo
            ,	c.KEYWORD_NAME					as keywordName
            ,	c.KEYWORD_ST					as keywordSt
		from 	
				MBR a
            left join
			 	SETTING b
            on a.MBR_NO = b.MBR_NO
            left join
                (
                    select  c.MBR_NO
                        ,   c.KEYWORD_NO
                        ,   d.KEYWORD_NAME
                        ,   d.KEYWORD_ST
                    from    
                            KEYWORD_REL c
    			        , 	KEYWORD d
                    where   1 = 1
                    and     c.KEYWORD_NO = d.KEYWORD_NO
                ) c
			on  a.MBR_NO = c.MBR_NO
	    where 	1 = 1
	    	and	a.MBR_NO = b.MBR_NO
	    	and a.MBR_NO = #{value}
	    	
	</select>

    
    <!--
		 * 설  명: 회원 추가
		 * 작성자: 이용준 
    -->
    <insert id="addMbr" parameterType="Mbr">
	    insert into	MBR ( MBR_PHONE_NO, MBR_DEVICE_NO, MBR_NAME, 
	    			MBR_PHOTO_URL, MBR_GENDER, MBR_REG_DATE, LAST_LOGIN_DATE, MBR_UPDATE_DATE)
	    values 		(#{mbrPhoneNo}, #{mbrDeviceNo}, #{mbrName}, 
	    			 #{mbrPhotoUrl}, #{mbrGender}, now(), now(), now() ) 
		<selectKey resultType="int" keyProperty="mbrNo">
			SELECT LAST_INSERT_ID()
		</selectKey>	    			 
	</insert>

    
	<delete id="deleteMbr" parameterType="int"> 
        delete from MBR  
        where MBR_NO=#{value}  
    </delete> 
    
</mapper>


