<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.dao.setting.SettingDao">
	
	<!--
		 * 설  명: 세팅 추가
		 * 작성자: 이용준     
    -->
	<insert id="addSetting" parameterType="Setting">
        INSERT INTO SETTING ( mbr_no, start_range, end_range )
        values ( #{mbrNo}, #{startRange}, #{endRange} )
    </insert>    
    
    
    <update id="updateRange" parameterType="MyInfo">
        update SETTING
		<set>
			<if test="startRange != null">START_RANGE=#{startRange},</if>
	 		<if test="endRange != null">END_RANGE=#{endRange},</if>
		</set>
		where MBR_NO= #{mbrNo}
        
    </update>
    
    <select id="getRange" parameterType="Int" resultType="MyInfo">
        select 
   			 	MBR_NO as mbrNo 
   			 ,  START_RANGE as startRange
   			 ,  END_RANGE as endRange
   		
		from  SETTING           
		where MBR_NO = #{value};
		
    </select>
    
    
 	<delete id="deleteSetting" parameterType="int"> 
        delete from SETTING  
        where MBR_NO=#{value}  
    </delete>     
    
<!-- //====================== AS-IS =======================// -->
<!-- 
    <insert id="addSetting" parameterType="Setting">
        INSERT INTO SETTING ( mbr_id, start_range, end_range )
        values ( #{mbrId}, #{startRange}, #{endRange} )
    </insert>
    
    
    <delete id="deleteSetting" parameterType="String"> 
        delete from SETTING  
        where MBR_ID=#{value}  
    </delete> 
    
    
    <select id="getRange" parameterType="String" resultType="Setting">
        select 
   			 	MBR_ID as mbrId 
   			 ,  START_RANGE as startRange
   			 ,  END_RANGE as endRange
   		
		from  SETTING           
		where MBR_ID = #{value};
    </select>
    
    
	<update id="updateRange" parameterType="Setting">
        update SETTING
		<set>
			<if test="startRange != null">START_RANGE=#{startRange},</if>
	 		<if test="endRange != null">END_RANGE=#{endRange},</if>
		</set>
		where MBR_ID= #{mbrId}
        
    </update>
 -->	
 
</mapper>


